.sectionTwo {
  background-color: #140f35;
  display: flex;
  gap: 30px;
  padding: 30px;

}

.sectionTwo__image {
    height: 434px;
    width: 621px;
    margin-left: 5px;
}

.right-colum__heading {
  color: #fdfdfd;
  font-weight: 500;
  font-size: 31px;
  font-family: Magistral Cond;
}

span {
  color: rgba(255, 131, 16, 1);
}

.right-column__paragraph {
  font-size: 18px;
  font-weight: 400;
  color: #fdfdfd;
  font-style: Magistral Cond;

}


hr {
    background: linear-gradient(to right, #FFB31F, #FFB31F00);
    height: 2px;
}
